
.loader {
    position: relative;
    width: 100px;
    height: 100px;
}

.bowl {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 50px;
    background: rgb(22 163 74);
    border-radius: 0 0 50% 50%;
    transform: translate(-50%, -50%);
}

.steam {
    position: absolute;
    bottom: 50px;
    width: 10px;
    height: 30px;
    background:  rgb(22 163 74 );
    border-radius: 50%;
    animation: steam 2s linear infinite;
}

.steam1 {
    left: 20px;
    animation-delay: 0s;
}

.steam2 {
    left: 45px;
    animation-delay: 0.5s;
}

.steam3 {
    left: 70px;
    animation-delay: 1s;
}

@keyframes steam {
    0% {
        opacity: 0;
        transform: translateY(10px) scale(0.5);
    }
    50% {
        opacity: 1;
        transform: translateY(-20px) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px) scale(1.5);
    }
}